html {
  box-sizing: border-box;

    font: normal 100%/1.5 sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h2,
p {
  margin: 0 0 1.5rem;
}

.section {
  padding: 2em 0;

  background-color: #e2e2e2;

  text-align: center;
  vertical-align: middle;
}

.section-image {
  display: inline-block;
  padding: 1em;
  max-width: 25em;
  width: 100%;

  vertical-align: middle;
}

.section-body {
  display: inline-block;
  padding: 1em;
  max-width: 25em;
  width: 100%;

  text-align: left;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  padding: .5em .75em;

  background-color: #555;
  border-radius: 4px;
  border: 3px solid #555;

  color: #e2e2e2;
  font-size: 1.125rem;
  text-decoration: none;
}
